<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Agendamento</h1>
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th></th>
                  <th>DataHora</th>
                  <th>Situação</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pd of service.list">
                  <td (click)="populateForm(pd)">{{pd.agendamentoId}}</td>
                  <td (click)="populateForm(pd)">{{pd.dataHora}}</td>
                  <td (click)="populateForm(pd)">{{pd.situacao}}</td>
                  <td (click)="populateForm(pd)">{{pd.agendamentoTotal}}</td>
                  <td (click)="populateForm(pd)">{{pd.servicoId}}</td>
                  <td (click)="populateForm(pd)">{{pd.clienteId}}</td>
                  <td>
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.agendamentoId)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<form novalidate autocomplete="off" #form="ngForm" (submit)=" onSubmit(form)">
  <input type="hidden" name="AnimalId" [value]="service.formData.agendamentoId" />
  <div class="form-row">
  <div class="form-group col-md-6">
      <label>Data e Hora</label>
      <input class="form-control form-control-lg" placeholder="Data e hora" name="DataHora"
          #dataHora="ngModel" [(ngModel)]="service.formData.dataHora"
          required  [class.invalid]=" dataHora.invalid &&  dataHora.touched">
  </div>
</div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Situação</label>
        <input class="form-control form-control-lg" placeholder="Security Code" name="Situacao"
            #situacao="ngModel" [(ngModel)]="service.formData.situacao"
            required  [class.invalid]=" situacao.invalid &&  situacao.touched">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
          <label>Agendamento Total</label>
          <input class="form-control form-control-lg" placeholder="Security Code" name=" AgendamentoTotal"
              #agendamentoTotal="ngModel" [(ngModel)]="service.formData.agendamentoTotal"
              required [class.invalid]=" agendamentoTotal.invalid &&  agendamentoTotal.touched">
      </div>



  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Serviço Id</label>
        <input class="form-control form-control-lg" placeholder="Security Code" name=" ServicoId"
            #servicoId="ngModel" [(ngModel)]="service.formData.servicoId"
            required [class.invalid]=" servicoId.invalid &&  servicoId.touched">
    </div>

</div>

<div class="form-row">
  <div class="form-group col-md-6">
      <label>Cliente Id</label>
      <input class="form-control form-control-lg" placeholder="Security Code" name=" ClienteId"
          #clienteId="ngModel" [(ngModel)]="service.formData.clienteId"
          required [class.invalid]=" clienteId.invalid &&  clienteId.touched">
  </div>
</div>

</div>
  <div class="form-group">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>




